* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}

.screen {
  width: 414px;
  height: 736px;
  background: rgba(250, 249, 249, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.textoComunidade_de_Ajuda {
  width: 225px;
  color: rgba(9, 26, 68, 1);
  position: absolute;
  top: 51px;
  left: 87px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}

.iconeMensagens {
  width: 110px;
  height: 98px;
  background: url("../images/v129_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 161px;
  left: 133px;
  overflow: hidden;
}

.iconePolicia2 {
  width: 40px;
  height: 40px;
  background: url("../images/v129_142.png");
  opacity: 1;
  position: absolute;
  top: 584px;
  left: 24px;
  border-radius: 50%;
}

.textoPerguntas {
  width: 125px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 548px;
  left: 13px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.iconePolicia3 {
  width: 25px;
  height: 25px;
  background: url("../images/v129_145.png");
  opacity: 1;
  position: absolute;
  top: 649px;
  left: 78px;
  border-radius: 50%;
}

.textoFinal {
  width: 249px;
  color: gray;
  position: absolute;
  top: 617px;
  left: 112px;
  font-family: Poppins;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}

.textoBemVindo {
  width: 258px;
  color: rgba(73, 72, 76, 1);
  position: absolute;
  top: 246px;
  left: 79px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.textoCentral {
  width: 332px;
  color: rgba(125, 125, 130, 1);
  position: absolute;
  top: 308px;
  left: 39px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.caixaEscrevaAqui {
  width: 323px;
  height: 86px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 444px;
  left: 43px;
  border: 1px solid rgba(229, 229, 234, 1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.iconePolicia1 {
  width: 55px;
  height: 55px;
  background: url("../images/v129_104.png");
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 28px;
  border-radius: 50%;
}

.textoCaixa {
  width: 230px;
  position: absolute;
  top: 424px;
  left: 52px;
  font-family: Roboto;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  color: lightgray;
}

.textoPergunta {
  width: 258px;
  color: rgba(73, 73, 77, 1);
  position: absolute;
  top: 574px;
  left: 35px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}

#iconComunidadeAjuda {
  position: absolute;
  top: 114px;
  left: 151px;
  font-size: 97px;
  color: #e0e0e0;
}

#buttonbackComunidadeAjuda {
  position: absolute;
  top: 46px;
  left: 28px;
  border: none;
  font-size: x-large;
  color: lightgray;
  background-color: rgba(250, 249, 249, 1);
}