* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}

.screen {
  width: 414px;
  height: 736px;
  background: rgba(250, 249, 249, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v129_153 {
  width: 254px;
  color: rgba(9, 26, 68, 1);
  position: absolute;
  top: 51px;
  left: 65px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}

.searchbar {
  width: 375px;
  height: 36px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 0px;
  overflow: hidden;
}

.icon {
  width: 132px;
  height: 131px;
  background: url("../images/v129_189.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 122px;
  border-radius: 50%;
}

.v129_190 {
  width: 332px;
  color: rgba(125, 125, 130, 1);
  position: absolute;
  top: 317px;
  left: 22px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.v129_191 {
  width: 258px;
  color: rgba(73, 72, 76, 1);
  position: absolute;
  top: 280px;
  left: 59px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.v130_785 {
  width: 300px;
  height: 98px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 455px;
  left: 44px;
  border: 1px solid rgba(229, 229, 234, 1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.v130_786 {
  width: 286px;
  color: rgba(150, 147, 147, 1);
  position: absolute;
  top: 460px;
  left: 51px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
