* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}

.screen {
  width: 414px;
  height: 736px;
  background: rgba(250, 249, 249, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.textComunicarProblemas {
  width: 254px;
  color: rgba(9, 26, 68, 1);
  position: absolute;
  top: 51px;
  left: 75px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 21px;
  opacity: 1;
  text-align: center;

}

.textExpliciteComunicarProblemas {
  width: 332px;
  color: rgba(125, 125, 130, 1);
  position: absolute;
  top: 288px;
  left: 40px;
  font-family: Poppins;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.textProblemaComunicarProblemas {
  width: 258px;
  color: rgba(73, 72, 76, 1);
  position: absolute;
  top: 251px;
  left: 76px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.caixaTextoComunicarProblemas {
  width: 300px;
  height: 184px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 428px;
  left: 57px;
  border: 1px solid rgba(229, 229, 234, 1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.EscrevaAquiComunicarProblemas {
  top: 55%;
  left: 63px;
  position: absolute;
  color: lightgray;
}

#iconComunicarProblemas {
  position: absolute;
  top: 114px;
  left: 151px;
  font-size: 97px;
  color: #e0e0e0;
}

#buttonbackComunicarProblemas {
  position: absolute;
  top: 46px;
  left: 28px;
  border: none;
  font-size: x-large;
  color: lightgray;
  background-color: rgba(250, 249, 249, 1);
}
