* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}

.screen {
  width: 414px;
  height: 1023px;
  background: rgba(250, 249, 249, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.textoOcorrencia {
  width: 277px;
  color: rgba(36, 47, 65, 1);
  position: absolute;
  top: 38px;
  left: 48px;
  font-family: Mulish;
  font-weight: Light;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.textoLevantamentoMaterial {
  width: 201px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 100px;
  left: 26px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}

.textoPresencaOperacionais {
  width: 194px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 313px;
  left: 26px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}

.textoPartida {
  width: 173px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 431px;
  left: 26px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}

.textoChegada {
  width: 132px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 464px;
  left: 26px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}

.textoDadosComplementares {
  width: 176px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 502px;
  left: 26px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}

.textoMaterial {
  width: 142px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 708px;
  left: 26px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}


#buttonAddTestemunhasNotas {
  position: absolute;
  width: 273px;
  height: 39px;
  left: 67px;
  right: 13px;
  top: 899px;
  bottom: 116px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
  border-radius: 16px;
  border: none;
  background: rgb(239 239 239);
  box-shadow: 0px 4px 20px rgb(119 119 119 / 50%);
}

#buttonEnviarCO {
  position: absolute;
  width: 179px;
  height: 36px;
  left: 110px;
  right: 13px;
  top: 962px;
  bottom: 116px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
  border-radius: 16px;
  border: none;
  color: white;
  background: rgb(11 34 74);
  box-shadow: 0px 4px 20px rgb(119 119 119 / 50%);
}

#buttonbackDadosOcorrencia {
  position: absolute;
  top: 46px;
  left: 28px;
  border: none;
  font-size: x-large;
  color: lightgray;
  background-color: #FFFFFF;
  background: rgba(250, 249, 249, 1);
}
/* Outline */

:focus {
  outline: 0;
}

:active {
  outline: 0;
}

:selected {
  outline: 0;
}
:input {
text-align: center;
}
