* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.screen {
  width: 414px;
  height: 736px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.textoDefinicoes {
  width: 249px;
  color: rgba(9,26,68,1);
  position: absolute;
  top: 43px;
  left: 68px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}


.textoSeguranca {
  width: 264px;
  color: rgba(73,72,76,1);
  position: absolute;
  top: 333px;
  left: 34px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.textoPrivacidade {
  width: 140px;
  color: rgba(73,72,76,1);
  position: absolute;
  top: 496px;
  left: 20px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.textoNotificacoes {
  width: 130px;
  color: rgba(73,72,76,1);
  position: absolute;
  top: 605px;
  left: 27px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.textoAltera {
  width: 255px;
  color: rgba(125,125,130,1);
  position: absolute;
  top: 361px;
  left: 55px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.textoGere {
  width: 259px;
  color: rgba(125,125,130,1);
  position: absolute;
  top: 524px;
  left: 55px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.textoPretende {
  width: 265px;
  color: rgba(125,125,130,1);
  position: absolute;
  top: 643px;
  left: 55px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

#buttonbackDefinicoesEPrivacidade {
  position: absolute;
  top: 46px;
  left: 28px;
  border: none;
  font-size: x-large;
  color: lightgray;
  background-color:#FFFFFF;
}

#iconDefinicoesPrivacidade {
  position: absolute;
  top: 114px;
  left: 112px;
  font-size: 97px;
  color: lightblue;
}

.fa-cogs:before {
    font-size: 145px;
}

.checkboxDefinicoesPrivacidade {
    height: 28px;
    width: 88px;
    color: rgba(20, 19, 42, 1);
    position: absolute;
    top: 640px;
    left: 305px;
    font-family: Poppins;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
/* Outline */

:focus {
  outline: 0;
}

:active {
  outline: 0;
}

:selected {
  outline: 0;
}
:input {
text-align: center;
}