* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.screen {
  width: 414px;
  height: 736px;
  background: rgba(250,249,249,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.textoSerieNumero {
  width: 47px;
  color: rgba(168,168,170,1);
  position: absolute;
  top: 265px;
  left: 37px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}

.inputMatricula {
  width: 60px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 109px;
  border: 1px solid rgba(230,230,233,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.inputSerie {
  width: 60px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 268px;
  left: 92px;
  border: 1px solid rgba(230,230,233,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.textoLevantamentoMaterial {
  width: 316px;
  color: rgba(36,47,65,1);
  position: absolute;
  top: 86px;
  left: 50px;
  font-family: Mulish;
  font-weight: Light;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.textoVeiculo {
  width: 57px;
  color: rgba(65,65,69,1);
  position: absolute;
  top: 191px;
  left: 36px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.textoMatricula {
  width: 73px;
  color: rgba(168,168,170,1);
  position: absolute;
  top: 210px;
  left: 36px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.textoAlgemas {
  width: 68px;
  color: rgba(65,65,69,1);
  position: absolute;
  top: 306px;
  left: 35px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.textoArma {
  width: 42px;
  color: rgba(65,65,69,1);
  position: absolute;
  top: 248px;
  left: 35px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}


.textoMascara {
  width: 67px;
  color: rgba(65,65,69,1);
  position: absolute;
  top: 350px;
  left: 36px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}


.textoCassetete {
  width: 80px;
  color: rgba(65,65,69,1);
  position: absolute;
  top: 394px;
  left: 36px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}


.checkboxAlgemas {
  height: 30px;
  width: 88px;
  color: rgba(20, 19, 42, 1);
  position: absolute;
  top: 296px;
  left: 302px;
  font-family: Poppins;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.checkboxMascara {
  height: 30px;
  width: 88px;
  color: rgba(20, 19, 42, 1);
  position: absolute;
  top: 343px;
  left: 302px;
  font-family: Poppins;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.checkboxCassetete {
  height: 30px;
  width: 88px;
  color: rgba(20, 19, 42, 1);
  position: absolute;
  top: 394px;
  left: 302px;
  font-family: Poppins;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

#buttonbackLevantamentoMaterial {
  position: absolute;
  top: 46px;
  left: 28px;
  border: none;
  font-size: x-large;
  color: lightgray;
  background-color: rgba(250, 249, 249, 1);
}

.botaoCheck {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 302px;
    top: 457px;
    background: #EBEBEB;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -10px -10px 20px #FFFFFF;
    border-radius: 32px;
}

#iconCheck {
    position: absolute;
    top: 473px;
    left: 316px;
    color: #28A820;
}

.fa-check:before {
    font-size: 30px;
}
/* Outline */

:focus {
  outline: 0;
}

:active {
  outline: 0;
}

:selected {
  outline: 0;
}
:input {
text-align: center;
}