* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
}

.screen {
    width: 414px;
    height: 874px;
    background: rgba(250, 249, 249, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.Menu {
    width: 167px;
    color: rgba(20, 19, 42, 1);
    position: absolute;
    top: 106px;
    left: 227px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 26px;
    opacity: 1;
    text-align: left;
    text-shadow: 4px 4px #000000 25%;
    ;
}

.circleone {
    width: 207px;
    height: 191px;
    background: rgba(160, 157, 157, 0.05000000074505806);
    opacity: 1;
    position: absolute;
    top: -64px;
    left: -19px;
    border-radius: 50%;
}

.circletwo {
    width: 179px;
    height: 183px;
    background: rgba(186, 185, 198, 0.1899999976158142);
    opacity: 1;
    position: absolute;
    top: 27px;
    left: -24px;
    border-radius: 50%;
}

.fotografia {
    width: 108px;
    height: 104px;
    opacity: 1;
    position: absolute;
    top: 77px;
    left: 80px;
    border-radius: 50%;
    background: gray;
}

.nomeAgente {
    top: 140px;
    left: 227px;
    font-family: 'Poppins';
    position: absolute;
    color: gray;
    font-size: 17px;
}

.caixaAjudaeSuporte {
    width: 340px;
    height: 53px;
    background: rgb(239 239 239);
    opacity: 1;
    position: absolute;
    top: 254px;
    left: 36px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    border: none;
    font-family: 'Poppins';
    font-size: 16px;
    box-shadow: 5px 7px 3px rgb(199 197 197 / 50%);
}


.textoAjudaeSuporte {
    width: 182px;
    color: rgba(20, 19, 42, 1);
    position: absolute;
    top: 310px;
    left: 91px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.textoVerAgentesProx {
    width: 242px;
    color: rgba(20, 19, 42, 1);
    position: absolute;
    top: 243px;
    left: 91px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.caixaDefiePriv {
    width: 340px;
    height: 53px;
    background: rgb(239 239 239);
    opacity: 1;
    position: absolute;
    top: 495px;
    left: 36px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 5px 7px 3px rgb(199 197 197 / 50%);
    overflow: hidden;
    border: none;
    font-family: 'Poppins';
    font-size: 16px;
}

.textoDefiePriv {
    width: 223px;
    color: rgba(20, 19, 42, 1);
    position: absolute;
    top: 547px;
    left: 89px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.caixaTerminarSessaoMenu {
    width: 340px;
    height: 53px;
    background: rgb(239 239 239);
    opacity: 1;
    position: absolute;
    top: 686px;
    left: 36px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 5px 7px 3px rgb(199 197 197 / 50%);
    overflow: hidden;
    border: none;
    font-family: 'Poppins';
    font-size: 16px;
}

.caixaTextoIdioma {
    width: 255px;
    height: 42px;
    background: #F5F5FA;
    opacity: 1;
    position: absolute;
    top: 616px;
    left: 121px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 3px 4px 2px rgb(162 162 162 / 50%);
    overflow: hidden;
    border: none;
    font-size: 15px;
    color: #5f5e5e;
}

.caixaDefinicoes {
    width: 255px;
    height: 42px;
    background: #F5F5FA;
    opacity: 1;
    position: absolute;
    top: 565px;
    left: 121px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 3px 4px 2px rgb(162 162 162 / 50%);
    overflow: hidden;
    border: none;
    font-size: 15px;
    color: #5f5e5e;
}

.caixaTextoTermos {
    width: 255px;
    height: 42px;
    background: #F5F5FA;
    opacity: 1;
    position: absolute;
    top: 430px;
    left: 121px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 3px 4px 2px rgb(162 162 162 / 50%);
    overflow: hidden;
    border: none;
    font-size: 15px;
    color: #5f5e5e;
}

.caixaTextoComProb {
    width: 255px;
    height: 42px;
    background: #F5F5FA;
    opacity: 1;
    position: absolute;
    top: 379px;
    left: 121px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 3px 4px 2px rgb(162 162 162 / 50%);
    overflow: hidden;
    border: none;
    font-size: 15px;
    color: #5f5e5e;
}

.caixaTextoComAjuda {
    width: 255px;
    height: 42px;
    background: #F5F5FA;
    opacity: 1;
    position: absolute;
    top: 325px;
    left: 121px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 3px 4px 2px rgb(162 162 162 / 50%);
    overflow: hidden;
    border: none;
    font-size: 15px;
    color: #5f5e5e;
}

#iconfifthsquareMenu {
    top: 92.5%;
    left: 81%;
    border: none;
    position: absolute;
    font-size: xx-large;
    background: none;
    color: lightgray;
}

#iconeTerminarSessaoMenu {
    color: red;
    position: absolute;
    top: 699px;
    left: 66px;
    font-size: x-large;
}

#iconeDefinicoesMenu {
    color: black;
    position: absolute;
    top: 509px;
    left: 66px;
    font-size: x-large;
}

#iconeAjudaMenu {
    color: black;
    position: absolute;
    top: 268px;
    left: 66px;
    font-size: X-large;
}

#iconeCommentMenu {
    color: gray;
    position: absolute;
    top: 338px;
    left: 144px;
    font-size: large;
}

#iconeShieldMenu {
    color: gray;
    position: absolute;
    top: 391px;
    left: 144px;
    font-size: large;
}

#iconeBookMenu {
    color: gray;
    position: absolute;
    top: 443px;
    left: 144px;
    font-size: large;
}

#iconeUserMenu {
    color: gray;
    position: absolute;
    top: 577px;
    left: 144px;
    font-size: large;
}

#iconeGlobeMenu {
    color: gray;
    position: absolute;
    top: 627px;
    left: 144px;
    font-size: large;
}

.bottombar {
    width: 423px;
    height: 92px;
    background: rgba(250, 249, 249, 1);
    opacity: 1;
    position: absolute;
    top: 793px;
    left: 1px;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15000000596046448);
    overflow: hidden;
}

.firstsquare {
    width: 60px;
    height: 58px;
    background: rgba(244, 244, 244, 1);
    opacity: 1;
    position: absolute;
    top: 803px;
    left: 33px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
}

.secondsquare {
    width: 60px;
    height: 58px;
    background: rgba(244, 244, 244, 1);
    opacity: 1;
    position: absolute;
    top: 803px;
    left: 105px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
}

.fourthsquare {
    width: 60px;
    height: 58px;
    background: rgba(244, 244, 244, 1);
    opacity: 1;
    position: absolute;
    top: 803px;
    left: 252px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
}

.fifthsquare {
    width: 60px;
    height: 58px;
    background: rgba(244, 244, 244, 1);
    opacity: 1;
    position: absolute;
    top: 803px;
    left: 324px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
}

.thirdsquare {
    width: 60px;
    height: 58px;
    background: rgba(244, 244, 244, 1);
    opacity: 1;
    position: absolute;
    top: 803px;
    left: 178px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
}

#iconfirstsquareMenu {
    top: 93.5%;
    left: 12%;
    border: none;
    position: absolute;
    font-size: xx-large;
    background: none;
    color: lightgray;
}

#iconsecondsquareMenu {
    top: 93.5%;
    left: 29%;
    border: none;
    position: absolute;
    font-size: xx-large;
    background: none;
    color: lightgray;
}

#iconthirdsquareMenu {
    top: 93.5%;
    left: 46%;
    border: none;
    position: absolute;
    font-size: xx-large;
    background: none;
    color: lightgray;
}

#iconfourthsquareMenu {
    top: 93.5%;
    left: 64%;
    border: none;
    position: absolute;
    font-size: xx-large;
    background: none;
    color: lightgray;
}

#iconfifthsquareMenu {
    top: 93.5%;
    left: 81%;
    border: none;
    position: absolute;
    font-size: xx-large;
    background: none;
    color: lightgray;
}

#buttonbackMenu {
    position: absolute;
    top: 46px;
    left: 28px;
    border: none;
    font-size: x-large;
    color: lightgray;
    background-color: rgb(232 231 231);
}

/* Outline */

:focus {
    outline: 0;
}

:active {
    outline: 0;
}

:selected {
    outline: 0;
}

:input {
    text-align: center;
}

#iconeSetaBaixoMenu {
    color: gray;
    position: absolute;
    top: 272px;
    left: 330px;
    font-size: large;
}

#iconeSetaBaixo1Menu {
    color: gray;
    position: absolute;
    top: 511px;
    left: 330px;
    font-size: large;
}

#bgmodalMenu {
  width: 86%;
  height: 23%;
  background-color: rgba(235, 235, 235, 94);
  position: absolute;
  top: 332px;
  left: 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: -15px 15px 10px lightgrey
}

#buttonNaoMenu {
  width: 149px;
  height: 46px;
  background: rgb(225, 225, 225, 88);
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 8%;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  font-size: 18px;
  border: none;
  font-family: 'Poppins';
  box-shadow: -3px 3px 2px rgb(162 162 162 / 50%);
}

#buttonSimMenu {
  width: 149px;
  height: 45px;
  background: rgb(225, 225, 225, 88);
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 52%;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  font-size: 18px;
  font-family: 'Poppins';
  border: none;
  box-shadow: -3px 3px 2px rgb(162 162 162 / 50%);
}

.terminarSessaoMenu {
  width: 191px;
  height: 103px;
  color: rgba(110, 113, 145, 1);
  position: absolute;
  top: 19%;
  left: 25%;
  font-family: Poppins;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}

.close {
    width: 61px;
    height: 53px;
    position: absolute;
    left: 294px;
    border: none;
    color: black;
    background: rgba(235, 235, 235, 94);
}

.hidden {
    display: none;
}