* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
}

.screen {
    width: 414px;
    height: 736px;
    background: rgba(250, 249, 249, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.circleone {
    width: 207px;
    height: 191px;
    background: rgba(160, 157, 157, 0.05000000074505806);
    opacity: 1;
    position: absolute;
    top: -64px;
    left: -19px;
    border-radius: 50%;
}

.circletwo {
    width: 179px;
    height: 183px;
    background: rgba(186, 185, 198, 0.1899999976158142);
    opacity: 1;
    position: absolute;
    top: 27px;
    left: -24px;
    border-radius: 50%;
}

.fotografia {
    width: 108px;
    height: 104px;
    opacity: 1;
    position: absolute;
    top: 77px;
    left: 80px;
    border-radius: 50%;
    background: gray;
}

.nomeAgente {
    top: 140px;
    left: 227px;
    font-family: 'Poppins';
    position: absolute;
    color: gray;
    font-size: 17px;
}

.caixaAjudaeSuporte {
    width: 340px;
    height: 53px;
    background: rgb(239 239 239);
    opacity: 1;
    position: absolute;
    top: 254px;
    left: 36px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 4px 20px rgb(125 122 122 / 50%);
    overflow: hidden;
    border: none;
    font-family: 'Poppins';
    font-size: 16px;
}

.caixaDefiePriv {
    width: 340px;
    height: 53px;
    background: rgb(239 239 239);
    opacity: 1;
    position: absolute;
    top: 337px;
    left: 36px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 4px 20px rgb(125 122 122 / 50%);
    overflow: hidden;
    border: none;
    font-family: 'Poppins';
    font-size: 16px;
}

.caixaTerminarSessao {
    width: 340px;
    height: 53px;
    background: rgb(239 239 239);
    opacity: 1;
    position: absolute;
    top: 421px;
    left: 36px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 4px 20px rgb(125 122 122 / 50%);
    overflow: hidden;
    border: none;
    font-family: 'Poppins';
    font-size: 16px;
}

#iconeTerminarSessaoPaginaInicialMenu {
    color: red;
    position: absolute;
    top: 434px;
    left: 66px;
    font-size: x-large;
}

.Menu {
    width: 167px;
    color: rgba(20, 19, 42, 1);
    position: absolute;
    top: 106px;
    left: 227px;
    font-family: Poppins;
    font-size: 26px;
    opacity: 1;
    text-align: left;
}

.bottombar {
    width: 423px;
    height: 92px;
    background: rgba(250, 249, 249, 1);
    opacity: 1;
    position: absolute;
    top: 658px;
    left: 1px;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15000000596046448);
    overflow: hidden;
}

.firstsquare {
    width: 60px;
    height: 58px;
    background: rgba(244, 244, 244, 1);
    opacity: 1;
    position: absolute;
    top: 667px;
    left: 33px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
}

.secondsquare {
    width: 60px;
    height: 58px;
    background: rgba(244, 244, 244, 1);
    opacity: 1;
    position: absolute;
    top: 666px;
    left: 105px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
}

.fourthsquare {
    width: 60px;
    height: 58px;
    background: rgba(244, 244, 244, 1);
    opacity: 1;
    position: absolute;
    top: 668px;
    left: 252px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
}

.fifthsquare {
    width: 60px;
    height: 58px;
    background: rgba(244, 244, 244, 1);
    opacity: 1;
    position: absolute;
    top: 668px;
    left: 324px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
}

.thirdsquare {
    width: 60px;
    height: 58px;
    background: rgba(244, 244, 244, 1);
    opacity: 1;
    position: absolute;
    top: 666px;
    left: 178px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
}

.thirdsquare {
    width: 60px;
    height: 58px;
    background: rgba(244, 244, 244, 1);
    opacity: 1;
    position: absolute;
    top: 666px;
    left: 177px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
}

#iconfirstsquarePaginaInicialMenu {
    top: 92.5%;
    left: 12%;
    border: none;
    position: absolute;
    font-size: xx-large;
    background: none;
    color: lightgray;
}

#iconsecondsquarePaginaInicialMenu {
    top: 92.5%;
    left: 29%;
    border: none;
    position: absolute;
    font-size: xx-large;
    background: none;
    color: lightgray;
}

#iconthirdsquarePaginaInicialMenu {
    top: 92.5%;
    left: 46%;
    border: none;
    position: absolute;
    font-size: xx-large;
    background: none;
    color: lightgray;
}

#iconfourthsquarePaginaInicialMenu {
    top: 92.5%;
    left: 64%;
    border: none;
    position: absolute;
    font-size: xx-large;
    background: none;
    color: lightgray;
}

#iconfifthsquarePaginaInicialMenu {
    top: 92.5%;
    left: 81%;
    border: none;
    position: absolute;
    font-size: xx-large;
    background: none;
    color: lightgray;
}

#iconedefinicoesPaginaInicialMenu {
    color: black;
    position: absolute;
    top: 351px;
    left: 66px;
    font-size: x-large;
}

#iconeAjudaPaginaInicialMenu {
    color: black;
    position: absolute;
    top: 268px;
    left: 66px;
    font-size: X-large;
}

#iconeSetaBaixoPaginaInicialMenu {
    color: gray;
    position: absolute;
    top: 272px;
    left: 330px;
    font-size: large;
}

#iconeSetaBaixo1PaginaInicialMenu {
    color: gray;
    position: absolute;
    top: 354px;
    left: 330px;
    font-size: large;
}

#buttonbackPaginaInicialMenu {
  position: absolute;
  top: 46px;
  left: 28px;
  border: none;
  font-size: x-large;
  color: lightgray;
  background-color: rgb(232 231 231);
}
/* Outline */

:focus {
  outline: 0;
}

:active {
  outline: 0;
}

:selected {
  outline: 0;
}
:input {
text-align: center;
}