* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
}

.screen {
    width: 414px;
    height: 736px;
    background: rgba(250, 249, 249, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}


.caixaCodigo {
    width: 208px;
    height: 64px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 393px;
    left: 58px;
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}


.textoDigiteCodigo {
    width: 119px;
    color: rgba(110, 113, 145, 1);
    position: absolute;
    top: 400px;
    left: 75px;
    font-family: Poppins;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

#botaoEntrarRegistoOcorrencia {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 281px;
    top: 398px;
    border: none;
    background: #EBEBEB;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFFFFF;
    border-radius: 32px;

}

.textoRegistoOcorrencia {
    width: 290px;
    color: rgba(36, 47, 65, 1);
    position: absolute;
    top: 290px;
    left: 66px;
    font-family: Mulish;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.retangulo {
    width: 335px;
    height: 242px;
    background: rgba(245, 245, 245, 1);
    opacity: 1;
    position: absolute;
    top: 35%;
    left: 10%;
    overflow: hidden;
}
.circulo {
    width: 124px;
    height: 117px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 180px;
    left: 35%;
    border-radius: 50%;

}

#iconArquivos {
    position: absolute;
    top: 210px;
    left: 190px;
    color: gray;
}

#iconPassword {
    position: absolute;
    top: 418px;
    left: 216px;
    color: #bababa;
}
    
#iconEntrar {
    position: absolute;
    top: 414px;
    left: 306px;
    color: #1E1C1C;
}   
    
.fa-file-alt:before {
    font-size: 50px;
}

.fa-eye:before {
    font-size: 18px;
}    

.fa-angle-right:before {
    font-size: 30px;
}

#buttonbackRegistoOcorrencia {
  position: absolute;
  top: 46px;
  left: 28px;
  border: none;
  font-size: x-large;
  color: lightgray;
  background-color: rgba(250, 249, 249, 1);
}

.bottombar {
    width: 423px;
    height: 92px;
    background: rgba(250, 249, 249, 1);
    opacity: 1;
    position: absolute;
    top: 658px;
    left: 1px;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15000000596046448);
    overflow: hidden;
}

.firstsquare {
    width: 60px;
    height: 58px;
    background: rgba(244, 244, 244, 1);
    opacity: 1;
    position: absolute;
    top: 667px;
    left: 33px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
}

.secondsquare {
    width: 60px;
    height: 58px;
    background: rgba(244, 244, 244, 1);
    opacity: 1;
    position: absolute;
    top: 666px;
    left: 105px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
}

.fourthsquare {
    width: 60px;
    height: 58px;
    background: rgba(244, 244, 244, 1);
    opacity: 1;
    position: absolute;
    top: 668px;
    left: 252px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
}

.fifthsquare {
    width: 60px;
    height: 58px;
    background: rgba(244, 244, 244, 1);
    opacity: 1;
    position: absolute;
    top: 668px;
    left: 324px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
}

.thirdsquare {
    width: 60px;
    height: 58px;
    background: rgba(244, 244, 244, 1);
    opacity: 1;
    position: absolute;
    top: 666px;
    left: 178px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
}

.thirdsquare {
    width: 60px;
    height: 58px;
    background: rgba(244, 244, 244, 1);
    opacity: 1;
    position: absolute;
    top: 666px;
    left: 177px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
}

#iconfirstsquareRegistoOcorrencia {
    top: 92.5%;
    left: 12%;
    border: none;
    position: absolute;
    font-size: xx-large;
    background: none;
    color: lightgray;
}

#iconsecondsquareRegistoOcorrencia {
    top: 92.5%;
    left: 29%;
    border: none;
    position: absolute;
    font-size: xx-large;
    background: none;
    color: lightgray;
}

#iconthirdsquareRegistoOcorrencia {
    top: 92.5%;
    left: 46%;
    border: none;
    position: absolute;
    font-size: xx-large;
    background: none;
    color: lightgray;
}

#iconfourthsquareRegistoOcorrencia {
    top: 92.5%;
    left: 64%;
    border: none;
    position: absolute;
    font-size: xx-large;
    background: none;
    color: lightgray;
}

#iconfifthsquareRegistoOcorrencia {
    top: 92.5%;
    left: 81%;
    border: none;
    position: absolute;
    font-size: xx-large;
    background: none;
    color: lightgray;
}
/* Outline */

:focus {
  outline: 0;
}

:active {
  outline: 0;
}

:selected {
  outline: 0;
}
:input {
text-align: center;
}
