* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
}

.screen {
    width: 414px;
    height: 736px;
    background: rgba(250, 249, 249, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.textoTermosEPoliticas {
    width: 185px;
    color: rgba(9, 26, 68, 1);
    position: absolute;
    top: 51px;
    left: 115px;
    font-family: Open Sans;
    font-weight: Bold;
    font-size: 21px;
    opacity: 1;
    text-align: center;
}


#buttonbackTermos {
  position: absolute;
  top: 46px;
  left: 28px;
  border: none;
  font-size: x-large;
  color: lightgray;
  background-color: rgba(250, 249, 249, 1);
}

#iconTermosEPoliticas {
    top: 16.5%;
    left: 38%;
    border: none;
    position: absolute;
    font-size: xxx-large;
    background: none;
    color: gray;
}

.fa-book-open:before {
    font-size: 82px;
}
/* Outline */

:focus {
  outline: 0;
}

:active {
  outline: 0;
}

:selected {
  outline: 0;
}
:input {
text-align: center;
}